.TickerSearch-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.TickerSearch-dropdown {
  text-align: initial;
  max-width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  list-style: none;
  margin: auto;
	position: absolute;
	z-index: 1;
	background-color: white;
	left: 50%;
  transform: translate(-50%, 0);
	cursor: pointer;
	padding: 0;
	border: 1px solid grey;
}

.Ticker {
  padding: 5px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  white-space: nowrap;
	border: 1px solid grey;
}

.Ticker-name {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 80%;
}